Section: misc
Priority: optional
Architecture: all
Maintainer: Patrick Waweru <patrick.waweru@thepalladiumgroup.com>
Description: KenyaHMIS Toolkit used to update KenyaEMR and KenyaHMIS products
 Tool to update KenyaHMIS products. KenyaEMR, AfyaStat and others coming over.
Depends:  ansible , jarwrapper  
