[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=gnome-terminal -e "sh /opt/KenyaEMRAutoupdate/setup_script.sh" 
Name=KenyaEMR Upgrade launcher
Comment=KenyaEMR upgrade launcher
Icon=/opt/KenyaEMRAutoupdate/upgrade_image.jpeg
